/* smaller screens */
@media screen and (max-width: 1108px) {
.wrapper {
    width: 90%;
  }
  #social {
    width: auto;
    margin-top: 82px;
    margin-right: 4px;
  }
}

/* tablets */
@media screen and (max-width: 900px) {
body {
    font-size: 85%;
  }
  #logo h1 {
    width: 35px;
    height: 35px;
  }
  #logo h2 {
    font-size: 2.2em;
  }
  #social {
    margin-top: 72px;
  }
    .col-3 p {
    column-count: 2;
  }
}

/* fatphones */
@media screen and (max-width: 750px) {

  #navbar nav a {
    font-size: 0.9em;
  }
    .col-3 p {
    column-count: 1;
  }
    .col-1 {
      width: 100%;
      margin-left: 0;
      float: none;
    }
     .col-2 {
      width: 100%;
      margin-left: 0;
      float: none;
    }
     .col-3 {
      width: 100%;
      margin-left: 0;
      float: none;
    }
    .border-right {
      border: 0;
    }
    #details div {
      height: auto;
    }
}

/* thinphones */
@media screen and (max-width: 700px) {

  #navbar nav a.menu-icon {
  display: show;
}
  
}